<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <%= data.forEach(function(item) { %>
        <%= item.forEach(function(row) { %>
          <li><%= row.name %> (<%= row.id %>)</li>
        <% }); %>
      <% }); %>
  </ul>
  </body>
</html>
