<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <%= data.forEach(function(item) { %>
          <li><%= item.Id %> - <%= item.Name %></li>
      <% }); %>
  </ul>
  </body>
</html>
